body{background:#9dc23e;}
.socilicon img {max-width:25px; max-height:25px; position:absolute; left:65px; top:10px;}
.listcust h3,.listcust p{white-space:normal;}
.listcust h3{ font-weight:bold;}
.bluetxt{ color:#20b8ff;}
.pinktxt{color:#8f24aa;}
.custinp{background:none;}
.custinp .item-input-wrapper{ background:#FFFFFF;}
.bar-custom{ background:none;}
.bar-custom h1{color:#FFF;}
.splash{ /*width:100%; height:100%;*/ text-align:center; top:40%;}
.splash img{ max-width:249px;}
.bgblue{background:#20b8ff; color:#FFF;}
.titname{color:#FFF; margin-bottom:0px; font-size:16px; font-weight:bold;}


.mapcon{width:270px; height:270px; margin:0 auto; border-radius:100%; overflow:hidden; /*border:8px solid #70d2ff;*/ position:relative; -webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);/* this fixes the overflow:hidden in Chrome/Opera */} 

.banner{ margin:0 auto; max-width:640px;}
.banner img{ max-width:100%; float:left;}

.border{border:8px solid rgba(255,255,255,0.3); width:285px; height:285px; margin:0 auto; border-radius:100%;}
.bgpink{background:#8f24aa; color:#FFF;}


/******************** DEVELOPER CSS *********************/
.angular-google-map-container { height: 400px;width:inherit; }
